## ----------------------------------------
##  Wild card
## ----------------------------------------
*.DS_Store
*.exe
*.log
*.out
*.pem
*tags
.*-local
Brewfile.*.lock.json

## ----------------------------------------
##  Env file
## ----------------------------------------
# *.env
/.env.local
/.env.development.local
/.env.production.local

## ----------------------------------------
##  For work scripts
## ----------------------------------------
# ref. http://qiita.com/uasi/items/cedae627b7596a837c57
/,*

## ----------------------------------------
##  Asdf
## ----------------------------------------
.tool-versions

## ----------------------------------------
##  Ruby
## ----------------------------------------
/vendor/bundle
.ruby-version
/.bundle
/public/assets
.byebug_history
/config/master.key

## ----------------------------------------
##  Node
## ----------------------------------------
.node-version
node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

## ----------------------------------------
##  Webpacker
## ----------------------------------------
/public/packs
/public/packs-test

## ----------------------------------------
##  Vim
## ----------------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

## ----------------------------------------
##  Emacs
## ----------------------------------------
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

## ----------------------------------------
##  Logfiels and tempfiles
## ----------------------------------------
logs
*.log
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

## ----------------------------------------
##  Runtime data
## ----------------------------------------
pids
*.pid
*.seed

## ----------------------------------------
##  OSX
## ----------------------------------------
.DS_Store
.AppleDouble
.LSOverride

## ----------------------------------------
##  Eshell files
## ----------------------------------------
/eshell/history
/eshell/lastdir

## ----------------------------------------
##  Uploaded files in development.
## ----------------------------------------
# Ignore 
/storage/*
!/storage/.keep
